/* This file contains the CSS styles for the React application*/
.App {
  text-align: center;
}

/* The logo is imported from the React library */
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* The logo is animated to spin */
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

/* The header section of the application */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* The link section of the application */
.App-link {
  color: #61dafb;
}

/* The logo spins infinitely */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
