NODE_ENV=development
MONGO_URI=
TWILIO_ACCOUNT_SID=""  
TWILIO_AUTH_TOKEN=""
# TWILIO_VERIFY_SID
## Purpose: Uniquely identifies a Twilio Verify service; required for API operations like sending or checking verification codes.
## Format: Starts with "VA" followed by a string of alphanumeric characters.
## Location: Found in the Twilio Console under Verify services. 
TWILIO_VERIFY_SID="" 
AUTH_SECRET=""